
  <form class="feedback-form" method="post" action="{% url "feedback" event_id %}">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Your Feedback</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}

          {{form.as_p}} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
