{% extends "base.html" %}
{% load i18n future mezzanine_tags accounts_tags staticfiles happenings_tags get_passed_events paypal_formset %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}<h3>Բարի գալուստ, {{ profile_user|username_or:"get_full_name" }}!</h3>{% endblock %}
{% block body_id %}account{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/ajax_select.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"> 
    <link rel="stylesheet" href="{% static "css/calendar.css" %}" >
    <link rel="stylesheet" href="{% static "css/responsive-tabs/easy-responsive-tabs.css" %}">
    <link rel="stylesheet" href="{% static "css/feedbackform.css" %}">
   
{% endblock %}
{% block extra_js %}
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/resp_tab/easyResponsiveTabs.js' %}"></script>
	<script src="{% static 'js/ajax_select.js' %}"></script>
	<script src="{% static 'happenings/js/calendar.js' %}"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript">
		function getRepeat(sel){
			if(sel.value != "NEVER"){
				$('#end_repeat').fadeIn('slow');
			} else {
				$('#end_repeat').fadeOut('slow');
			}
		};
	</script>
	<script type="text/javascript">
	//var chargedAmount = '',
	var	amountAMD = '';
	var handler = StripeCheckout.configure({
		    key: 'pk_test_9mC5ObhmQDE0DVcSxipuCNG5',
		    token: function(token, args) {
		      // Use the token to create the charge with a server-side script.
		      // You can access the token ID with `token.id`
		      		//token['amount'] = amount;
			      console.log(JSON.stringify(args));
			      
			      $.ajax({
			      	type: 'POST',
			      	data: { token: token.id, email: token.email, amountAMD: amountAMD, csrfmiddlewaretoken: '{{ csrf_token }}'},
			      	url: '{% url "process_token" %}',
			      	success: function(data){
			      		
			      		$(".col-xs-6 > h4#balance").html(data.new_balance + '&nbsp;դրամ');
			      	},
			      	error: function(data){
			      		console.log(data);
			      	}
			      });
		    }
		 
	});
	   	  
	
	$(function(){

		

		$('.fback').click(function(e){
	        var url = $(this).data('form');
	        var title_text = $(this).data('desc');
	        $('#myModal').load(url, function(){
	            $(this).modal('show');
	            
	        });
	        
	    });
	    
	    

		$("div.month-event-title > a:has(p)").parent().children('button').attr('disabled', 'disabled').removeClass('cnclButtClassPlus');
		
		$('button.triggerToggle').click(function(e){
			var ppldiv = $(".ppl_div");
			$('div.toggle_payment').slideToggle("slow");
			ppldiv.slideToggle("slow");
				$(".triggerToggle").text(function(i, text){
				          return text === "Վճարել Paypal-ով" ? "Վճարել Կրեդիտ Քարտով" : "Վճարել Paypal-ով";
				})	

		});
		$('a[id="customButton"]').click(function(e) {
    // Open Checkout with further options
	    	//chargedAmount = parseFloat($(this).data('amount')) * 100 / 411.0;
	    	//chargedAmount = chargedAmount.toFixed(2);
	    	amountAMD = $(this).data('amount') * 100;
		    handler.open({
		      name: 'Տաքսին Միասին',
		      image: '{% static 'img/index_photos/icon.JPG' %}',
		      description: 'Հաշվի լիցքավորում ('+$(this).data('amount')+'դր)',
		      amount: amountAMD,
		      currency: "amd"
		    });
		    e.preventDefault();
		});

		$('#dialog-confirm').dialog({
				width: 350,
		        height: 200,
				autoOpen: false,
				modal: true,
				resizeable: false,
				dialogClass: 'no-close success-dialog',
				buttons:{
					"Այո": function() {
						$.ajax({
							type: 'POST',
							url: '{% url "cancel_event" %}',
							data: {'event_id': $(this).data('event_id'), 'date': $(this).data('date'), 'butt_id': $(this).data('butt_id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
							success: function(data){
								var butto = $('#'+data.butt_id);
								butto.before("(ՉԵՂԱՐԿՎԱԾ)");
								$(".col-sm-6 > h4#balance").html(data.new_balance + '.0&nbsp;դրամ');
								butto.attr('disabled','disabled').removeClass('cnclButtClassPlus');
								
								//$("#cancelButton").attr('disabled','disabled');
								
							},
							error: function(data){
								console.log('error: '+JSON.stringify(data));	
							}
						});
						
						$(this).dialog("close");
					},
					"Ոչ":function(){
						$(this).dialog("close");
					}
				}
		});
		$("button[id|='cancelButton']").click(function(e){
			var $event_id = $(this).data('event'),
				$date = $(this).data('date'),
				$butt_id = $(this).attr('id');
			$('#dialog-confirm')
			.data('event_id', $event_id)
			.data('date', $date)
			.data('butt_id', $butt_id)
			.dialog("open");
			return false;
		});
		
    	if($("#id_repeat :selected").text() != "Երբեք"){
			$('#end_repeat').show();
		} else {
			$('#end_repeat').hide();
		}
		//$( "#tabs" ).tabs({ heightStyle: "content"});
		$('#tabs').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
            width: '100%', //auto or any custom width
            fit: false,   // 100% fits in a container
		});
	  
	});
	</script>

	{{ form.media }}
{% endblock %}
{% block breadcrumb_menu %}
{{ block.super }}
{% endblock %}

{% block main %}

	
		<div class="col-xs-6">
            <img class="img-thumbnail" src="{% gravatar_url profile_user.email 64 %}">
            {% if profile_user == request.user %}
            <br><a class="btn btn-primary" href="{% url "profile_update" %}">Թարմացնել պրոֆիլը</a>
            {% endif %}
        </div>
        <div class="col-xs-6">
            <h4>Ձեր հաշվին կա </h4>
            <h4 id="balance">{{ request.user.profile.balance }} դրամ
            </h4>
        </div>
		
						
		

			<div id="dialog-confirm" title="Չեղարկե՞լ">
				<p>Համոզվա՞ծ եք, որ ուզում եք չեղյալ անել այս պատվերը</p>
			</div>	


{% endblock %}
{% block tabs %}
	<div id="tabs">
				<ul class='resp-tabs-list'>
				<li>Լիցքավորել Հաշիվը</li>
				<li>Պատվիրել</li>
				<li>Իմ Պատվերները</li>
				<li>Օրացույց</li>
				</ul>
				<div class="resp-tabs-container">
					<div>
						<div  id="tab_container" class="container col-lg-12">
								<div class="toggle_payment">
								  <h5>Վճարեք պլաստիկ քարտի միջոցով</h5>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="300"><h1><span class="glyphicon glyphicon-plus"></span>300դր</h1></a>
								  </div>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="600"><h1><span class="glyphicon glyphicon-plus"></span>600դր</h1></a>
								  </div>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="1200"><h1><span class="glyphicon glyphicon-plus"></span>1200դր</h1></a>
								  </div>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="2400"><h1><span class="glyphicon glyphicon-plus"></span>2400դր</h1></a>
								  </div>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="4800"><h1><span class="glyphicon glyphicon-plus"></span>4800դր</h1></a>
								  </div>
								  <div class="col-xs-6">
									<a name="customButton" id="customButton" data-amount="6000"><h1><span class="glyphicon glyphicon-plus"></span>6000դր</h1></a>
								  </div>
								</div>
							
							<div class="ppl_div" style="display:none">
								<h5 style="text-align: center">Վճարեք Paypal-ի միջոցով</h5>
								{% get_ppl_formset request as formset %}
								{% for form, url in formset %}
									<div class="col-xs-6">
										<form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
											{{ form.as_p }}
											<input type="image" src="{% static url %}" border="0" name="submit" alt="Վճարեք Paypal-ի միջոցով՝ արագ, անվճար ու ապահով!" style="max-width:100%; height:auto;">
										</form>
									</div>
								{% endfor %}


							</div>
							
							<div id="buttonDiv" class="col-xs-12">
								<button class="triggerToggle btn btn-custom center-block" style="font-size: 2vw">Վճարել Paypal-ով</button>
							</div>
							
						</div>
					</div>
					<div id="tab2">
						<div id="tab_container" class="container col-lg-12">
							<div class="col-md-12">
								<h5>Մուտքագրեք, խնդրեմ, Ձեր ուղևորության սկզբնակետն ու վերջնակետը</h5>
							</div>
							<div class="col-md-12">
								{% include "form/form.html" %}
							</div>
						</div>
					</div>
					<div>
						<div id="tab_container" class="container col-lg-12" >
							<div class="col-xs-12">
							    	{% upcoming_events %}
							</div>
							<div class="col-xs-12">
							    	{% passed_events %}
							</div>
						</div>
					</div>
					<div>
						<div class="col-lg-12" id="calendar_div">

							<div id="event-calendar" class="calendar-mini center-block">
				        		{% show_calendar request mini=True %}
						    </div>
						</div>
					</div>
				</div>
	</div>

{% endblock %}