{% extends "base.html" %}
{% load i18n future mezzanine_tags accounts_tags staticfiles get_balance %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block body_id %}account{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/ajax_select.css" %}" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 

{% endblock %}
{% block extra_js %}
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
	<script src="{{STATIC_URL}}ajax_select/js/ajax_select.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script>
		$(document).ready(function() {
    		$('.datepicker').datepicker({
    			dateFormat: 'd/mm/yy',
	            changeMonth: true,
	            changeYear: true,
	            firstDay: 1,
	            minDate: "+1",
	            maxDate: Date.parse("2016-01-01"),
	            yearRange: "c:c+2"
    		});
    		$(function () {
	            $.validator.addMethod(
	                "date",
	                function (value, element) {

	                    var minDate = "+1";
	                    var maxDate = Date.parse("2016-01-01");
	                    var valueEntered = Date.parse(value);

	                    if (valueEntered < minDate || valueEntered > maxDate) {
	                        return false;
	                    }
	                    return !/Invalid|NaN/.test(new Date(minDate));
	                },
	                "Please enter a valid date!"
	            );
	        });
    		$('.timepicker').timepicker();
		});
	</script>
{% endblock %}
{% block breadcrumb_menu %}
{{ block.super }}
{% endblock %}

{% block main %}

	
		<div class="col-md-6">
		    <img class="img-thumbnail" src="{% gravatar_url profile_user.email 128 %}">
		    {% if profile_user == request.user %}
		    <br><a class="btn btn-primary" href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
		    {% endif %}
		</div>
		<div class="col-md-6">
			<h4>Ձեր հաշվին կա </h4>
			{% get_user_balance request as balance %}
			<h4 id="balance">{{ balance }} դրամ
			</h4>
		</div>
		<div id="map-header" class="col-md-12">
			<h5>Քարտեզի վրա ընտրեք, խնդրեմ, Ձեր ուղևորության սկզբնակետն ու վերջնակետը</h5>
		</div>
		
		<div class="col-md-12">
			<form method="POST">
				{% fields_for form %}
				<input type="submit" value="submit"/>
			</form>
		</div>
		<div class="col-md-12">

			<div id="map"></div>
			
			

		</div>
		
	
	
		
			
		

	


{% endblock %}
