{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block title %}<h3>{% trans 'Update Profile' %}</h3>{% endblock %}

{% block main %}
<div id="form_div">
    <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} >
    	{% csrf_token %}
        <fieldset>
        
    	{% errors_for form %}

        {# Include the visible fields #}
        {% for field in form.visible_fields|slice:":6" %}

                    
                        <label class="control-label" for="id_{{ field.name }}">
                        	{% trans  field.label  %}</label>{{ field.errors }}
                        	{{ field }}	

        {% endfor %}

        </fieldset>
        <div class="form-actions">
            
            <input class="btn btn-primary btn-lg center-block" type="submit" value="{{ title }}">
            
        </div>

    </form>
</div>

{% endblock %}