{% load weekday %}

<h2>Ձեր Անցած Պատվերները</h2>
    {% for d, event in passed_events %}
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="month-event-title">
                    <a href="{{ event.get_absolute_url }}">
                        <div class="date-widget">
                            <div class="widget-month">
                                {{ d|date:"F" }}
                            </div>
                            <div class="widget-day">
                                {{ d.day }}
                            </div>
                            <div class="widget-year">
                                {% weekday d.year d.month d.day %}
                            </div>
                        </div>
                        {% for c in event.cancellations.all %}
                            {% if c.date == d.date %}
                                (ՉԵՂԱՐԿՎԱԾ)
                            {% endif %}
                        {% endfor %}
                    </a>
                    <button name='butto' class="commentButtClass" id="cancelButton-{{ d|slugify }}" data-date="{{ d }}" data-event="{{ event.id }}">Գնահատել Ծառայությունը</button>
                </div>
            </div>
    {% empty %}
    Oops.. No events!
    {% endfor %}
  