{% load weekday i18n %}
<h2>Ձեր Անցած Պատվերները</h2>
    {% for d, event in passed_events %}
            <div class="col-xs-6 col-sm-4 col-md-2 text-center" id="month-event-title-parent">
                <div class="month-event-title">
                    
                        <a href="{{ event.get_absolute_url }}">
                            <div class="date-widget ">
                                <div class="widget-month">
                                    {{ d|date:"F" }}
                                </div>
                                <div class="widget-day">
                                    {{ d.day }}
                                </div>
                                <div class="widget-year">
                                    {% weekday d.year d.month d.day %}
                                </div>
                            </div>
                            {% for c in event.cancellations.all %}
                                {% if c.date == d.date %}
                                    <p>(ՉԵՂԱՐԿՎԱԾ)</p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    
                        <button class="fback btn btn-custom col-sm-12" data-form="{% url "feedback" event.id %}" data-desc="{{ event.title }}"><p id="button_text" style="margin-left:auto;margin-right:auto;">Գնահատել Պատվերը</p></button>
                        <div class="modal fade" id="myModal"></div>
                    
                </div>
            </div>
    {% empty %}
    Դեռ պատվերներ չկան․․․
    {% endfor %}
  