#map{
	height: 280px;
}

#balance{
	padding-left: 1.5em;
	font-weight: bold;
}
#map-header{
	margin-top: 20px;
}

input[type='text']:focus, textarea:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

textarea{
     border: 2px solid #dadada;
     border-radius: 10px;
     transition: all 0.3s ease-in-out 0s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
     width: 100%;
     font-size: 16px;
}

input[type='text']{
    border-radius: 20px;
    outline: medium none;
    border: 2px solid #dadada;
    transition: all 0.3s ease-in-out 0s;
    margin-bottom: 15px;
    height: 35px;
    padding: 4px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
     width: 100%;
}
label{
	font-size: 1em;
}


.form-control{
	border: 2px solid #dadada;
	border-radius: 10px;
}


a#customButton{
	text-decoration: none;
	
}

.btn-custom { 
	background-color: hsl(208, 100%, 75%) !important; 
	background-repeat: repeat-x; font-weight: bold;
}

.btn-custom:hover { 
	color: #fff;
}

#submitDiv{
	position: relative;
	left: -40px;
	margin-top: 3em; 
}

@media only screen and (max-width: 541px) {
    #submitDiv{
    	margin-top: 5em; 
    }
}

@media only screen and (max-width: 422px) {
    #submitDiv{
    	margin-top: 7em; 
    }
}

#end_repeat{
	margin-top: 20px;

}



button#cal-today-btn.btn.btn-small{
	color: blue;
	background-color: rgba(127, 195, 255, 0.27);
	border-radius: 1em;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #ccc;

}
h1{
	color: #008080;
	background-color: rgba(127, 195, 255, 0.27);
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #ccc;
	cursor: pointer;
	font-size: 5vw;
}

h2{
	color: #008080;
	background-color: rgba(127, 195, 255, 0.27);
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #ccc;
	font-size: 5vw;
}

.commentButtClass{
	color: #008080;
	background-color: rgba(127, 195, 255, 0.27);
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #ccc;
	margin-left: -1em;
}



button.cnclButtClass{
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	cursor: pointer;
	margin-left: 1.3em;
}

.cnclButtClassPlus{
	border: 1px solid #DDD;
	color: #fff;
	background-color: #FA8072;
	box-shadow: 0 0 2px #ccc;
}

button.cnclButtClassPlus:hover{
	background: #990000;
	box-shadow: inset 2px -7px 11px #E60026;
	color: #fff;
}

h1:hover, button#cal-today-btn.btn.btn-small:hover{
	background: #99CD30;
	box-shadow: inset 2px -7px 11px green;
	color: #fff;
}

div#tabs-1{
	height: 400px;
}

.toggle{
	display: none;
}

.visible{
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

.hidden{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

div#tabs{
	margin-top: 2em;
}

#myModal .modal-dialog
{
    width: 50%; /* your width */
}
#button_text{
		white-space: normal;
}
@media only screen and (min-width: 991px) {
    #button_text{
		margin-left: -12px;
	}	
}

h3{
	font: 400 3.5em/125% 'Courgette', Helvetica, Sans-serif;
	color: #333;
}

h5{
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	color: #008080;
	line-height: 2em;
}

div#tab2{
	height: 40em;
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #B2BEB5;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

p{
	text-align: center;
}

div#dialog-confirm > p{
	margin-top: 2em;
}

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.2em;
}

.ui-widget-content.success-dialog {
    background: #E6E6E6;
    border: 1px solid  #448dae;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #448dae;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-content{
	background: #E6E6E6 !important;
	border-color: #E6E6E6;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	color: #008080;
	background-color: rgba(127, 195, 255, 0.27);
	text-align: center;
	line-height: 2em;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #ccc;
	padding: 0.2em 1em;
	margin: 0.5em 0.2em;
	float: right;

}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:first-child:hover{
	background: #990000;
	box-shadow: inset 2px -7px 11px #E60026;
	color: #fff;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover{
	background: #99CD30;
	box-shadow: inset 2px -7px 11px green;
	color: #fff;
}

div.header{
	margin-bottom: 4em;
}