<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles get_balance accounts_tags %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% trans "Share your cab" %}</title>
<link rel="shortcut icon" href="{% static "img/logos/favicon.jpg" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% endcompress %}

{% block extra_css %}{% endblock %}

<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>

{% compress js %}
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% include "includes/footer_scripts.html" %}
{% endcompress %}
{% block extra_js %}{% endblock %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<!--header-->
  <div id="wrap">
    <div class="header">
        <div class="wrap">
            <div class="navbar navbar_ clearfix">
                <div class="container">
                    <div class="row" id="header-row">
                        
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                {% get_current_language as LANGUAGE_CODE %}
                                <a class="navbar-brand page-scroll" href="{% if LANGUAGE_CODE == 'hy' %}/{% else %}/en{% endif %}"><img src="{% static "img/index_photos/logo.png" %}" width="180" alt="Taxin Miasin"></a>    
                            </div>
                            <div  class="col-xs-5" id="title_div">
                                {% block title %}{% endblock %}
                            </div>
                            <div  class="col-xs-1" id="title_div">
                                <a href='/en'><img src="{% static 'img/flags/us.png' %}"/></a>
                                <a href='/'><img src="{% static 'img/flags/am.png' %}"/></a>
                            </div>
                        </div>
                        
                    </div>                
                </div>
             </div>
        </div>    
    </div>
    <!--//header-->    
    <div class="container">

        {% nevercache %}
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}



    </div>

    <div class="container">
        <div class="row">
        <!--
        <div class="col-md-2 left">
            {% block left_panel %}
            
            {% endblock %}
        </div>
        -->
       

            <div class="col-lg-12">
                {% block main %}
                	
                {% endblock %}
            </div>
            <!--
        <div class="col-md-2 right">
            
        </div>
        -->
        </div>
    </div>
    <div class="col-lg-12">	
    	<div class="container">
        
        	{% block tabs %}
        		
        	{% endblock %}
        </div>
    </div>
  </div>
    <footer id="footer" class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="col-xs-12" id="icons">
                    
                    <div class="col-xs-6">
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/TaxinMiasin" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/pages/Taxin-Miasin/353391071506960" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://www.pinterest.com/taxinmiasin/" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                        <span class="copyright">&copy; {% trans "Taxin Miasin 2014" %}</span>
                    </div>
                    <div class="col-xs-6">
                        <img src="{% static 'img/logos/PayPal_Logo.jpg' %}" style="max-width:100%; height:auto;" width="125" style="max-width:100%; height:auto;" />
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>
