<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags accounts_tags i18n future staticfiles widget_tweaks contact_form %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Տաքսին Միասի՛ն</title>
    <link rel="shortcut icon" href="{% static "img/logos/favicon.jpg" %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    
    <link rel="stylesheet" type="text/css" href="{% static "css/agency.css" %}">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="{% static "img/about/1.jpg" %}"/>
    {% block extra_css %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_js %}
    {% endblock %}
    <script src="{% static "js/jquery-1.11.0.js" %}"></script>

</head>

<body id="page-top" class="index">
  <div id="wrap">
    <a class="navbar-brand page-scroll" style="margin-top: 3em" href="#page-top"><img src="{% static "img/index_photos/icon.JPG" %}" width="150" alt="Տաքսին Միասին"></a>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>

            <div class="container">
                {% nevercache %}
                {% if messages %}
                <div class="messages">
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                </div>
                {% endif %}
                {% endnevercache %}
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav col-sm-12">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Ինչպե՞ս է աշխատում</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Վճարում</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Մեր Մասին</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Կապվեք Մեզ</a>
                    </li>
                {% if request.user.is_authenticated %}
                  {% url "profile" request.user.username as profile_url %}
                      <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Բարեվ <b>{{ request.user.username }}</b><strong class="caret"></strong></a>
                        <ul class="dropdown-menu" role="menu">
                          
                            {% if profile_url %}
                            <li>
                                <a href="{{ profile_url }}" class="button redbutton">{{ request.user|username_or:"email" }}</a>
                            </li>
                            <li>
                                <a href="{% url "profile_update" %}" class="button redbutton"><span class="glyphicon glyphicon-refresh"></span>{% trans "Update profile" %}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url "profile_update" %}" class="button redbutton"><span class="glyphicon glyphicon-refresh"></span>{% trans "Update Profile" %}</a>
                            </li>
                            {% endif %}
                          
                          <li>
                            <a href="{% url "logout" %}?next={{ request.path }}" class="button redbutton">
                            <span class="glyphicon glyphicon-log-out"></span> {% trans "Log out" %}</a>
                          </li>
                        </ul>
                      </li>  
                  {% else %}
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Մուտք<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="form_li">
                                    
                                    <div id="login_form_div">
                                        {% login_form as form%}
                                          <form action="{% url "login" %}?next={{ request.path }}" method="post">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <input class="btn btn-primary center-block" id="login_button" style="clear: left; height: 32px; font-size: 13px;" type="submit" name="commit" value="Մուտք Գործել" />
                                           
                                            
                                          </form>
                                          <a style="margin-top: -10px; color: blue" href="/accounts/password/reset">Մոռացել եմ ծածկագիրս</a>
                                          <span>Գրանցված չե՞ք</span><a style="color: blue" href="{% url "signup" %}?next={{ request.path }}">&nbsp;Գրանցվել</a>
                                    </div>
                                    
                              
                                </li>
                            </ul>
                          <!-- Login form here -->
                          
                    </li>
                  {% endif %} 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Բարի Գալուստ «Տաքսին Միասին»!</div>
                <div class="intro-heading">Միասին էժան է և ուրախ!</div>
                
                <a class="youtube btn-xl" href="https://www.youtube.com/watch?v=2gO0GXP2U5Q"><i style="font-size: 3vw" class="fa fa-youtube-play"></i>&nbsp;Նայի՛ր Վիդեոն</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ինչպե՞ս է աշխատում</h2>
                    <h3 class="section-subheading text-muted">
Բոլորին, անկասկած, ծանոթ է այն իրավիճակը, երբ ստիպված եք բարձրանալ երթուղային տաքսի, որն այլևս նստելու տեղ չունի։ Ձեզ անհրաժեշտ է հասնել աշխատավայր կամ ուսումնական հաստատություն կամ մեկ այլ վայր ու Դուք չեք կարող բաց թողնել երթուղային տաքսին, այլապես կուշանաք։ Ամեն օր տաքսի պատվիրելը շատ թանկ է և Դուք նորից ստիպած եք կռացած երթևեկել, ինչը, ինչպես բոլորս գիտենք մեր փորձից, շատ անհարմար է։ Այսուհետ Դուք ստիպված չեք այդպես վարվել, Դուք կարող եք կիսել Տաքսին Միասին։ Ուղեվարձը կբաժանվի 3 ուղևորների միջև։ Դուք կունենաք հարմարավետ երթևեկություն և կվճարեք շատ ավելի ցածր, քան ինքներդ տաքսի կանչելու դեպքում ու քիչ ավելի բարձր, քան երթուղային տաքսով երթևեկելու դեպքում։</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Քայլ 1</h4>
                    <p class="text-muted">Գրանցվելիս անհրաժեշտ է մուտքագրել անուն, ազգանուն, օգտագործողի անուն և հեռախոսահամար։ Ձեր հեռախոսին կգա SMS ստուգիչ կոդ, որն անհրաժեշտ է մուտքագրել համապատասխան դաշտում՝ գրանցումն ավարտելու համար։ 
                    </p>
                    <img src="{% static "img/index_photos/girll.jpg" %}" class="img-responsive" alt="Registration">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Քայլ 2</h4>
                    <p class="text-muted">Մուտքագրեք Ձեր ելակետը (Որտեղի՞ց) և նպատակակետը (Ու՞ր), մեկնման ամսաթիվը, ժամն ու հաճախականությունը։ Երբ որ ևս 2 ուղևոր ընտրեն նույն երթուղին ինչ որ Դուք, ապա Ձեր պատվերը կհամարվի հաստատված և կստանաք այդ մասին վկայող SMS</p>
                    <img src="{% static "img/index_photos/laptop_screen.jpg" %}" class="img-responsive" alt="Select Your Route">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Քայլ 3</h4>
                    <p class="text-muted">Նշված օրը և ժամին տաքսին կմոտենա Ձեր նշած վայրին։ Տաքսին կգտնեք ըստ Ձեզ ուղարկված SMS-ում առկա պետ․ համարանիշերի ու մակնիշի և վարորդին կներկայացնեք պատվերի համարը։ Ձեզ բարի ե՛րթ</p>
                    <img src="{% static "img/index_photos/sdfs.jpg" %}" class="img-responsive" alt="Set off">
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Վճարում</h2>
                    <h3 class="section-subheading text-muted">Վճարումն իրականացվում է առցանց օգտագործելով Paypal վճարային համակարգը կամ հետևյալ կրեդիտ քարտերից մեկը՝ Visa, MasterCard, American Express, JCB, Discover, Diners Club։ <em>Կրեդիտ քարտի տվյալները չեն պահվում մեզ մոտ, այլ անմիջապես ուղարկվում են հանրահայտ <a href="https://stripe.com/">Stripe</a> համակարգին՝ վճարումն իրականացնելու համար։ Բոլոր տվյալների փոխանցումը գաղտնագրված է և 100% ապահով։</em> Գրանցվելուց հետո Դուք հնարավորություն կստանաք լիցքավորել Ձեր հաշիվը, որից հետո կարող եք պատվեր ստեղծել, եթե Ձեր հաշվին կան բավարար միջոցներ։ Պատվերները կարող են ստեղծվել միայն տվյալ օրվան հաջորդող օրերի համար։ Միանգամյա պատվերի արժեքն է 350 դրամ։ Մի մեքենան սպասարկելու է 3 ուղևոր։ </h3> 
                </div>
            </div>
            
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Մեր Մասին</h2>
                    <h3 class="section-subheading text-muted">Մենք մի խումբ ակտիվ երիտասարդներ ենք։ Ուզում ենք մեր փոքրիկ ներդրումն ունենալ մեր հասարակության մեջ դրական փոփոխություններ կատարելու գործում։ Լիահույս ենք, որ «Տաքսին Մասին» կսիրվի մեր հայրենակիցների կողմից և նրանց առօրյա տեղափոխումը կդարձնի առավել հարմարավետ ու մատչելի։ Կայքը պատրաստելու գաղափարն առաջացավ մեր սեփական տհաճ փորձից, երբ առավոտյան ու երեկոյան բազմիցս ստիպված ենք եղել կռացած երթևեկել նստելու տեղ չունեցող երթուղայիններով։ Այսուհետ բոլորս ունենք նոր ընտրության հնարավորություն։</h3>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Clients Aside -->
    <aside class="clients">
    
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Կապվեք Մեզ</h2>
                    <h3 class="section-subheading text-muted">Գրեք մեզ ցանկացած հարցերի կամ առաջարկների դեպքում․</h3>
                </div>
            </div>
            {% get_contact_form request as form %}
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" method="POST" action="/contactus/">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                {% errors_for form %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}     
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="color: #f6bf01; font-size: 2vw" for="id_{{ field.name }}">
                                            {% trans  field.label  %}</label>{{ field.errors }}
                                            {% render_field field class="form-control" %} 
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                           
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Ուղարկել նամակը</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>
  </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12" id="icons">
                    <div class="col-xs-4">
                        
                    </div>
                    <div class="col-xs-4">
                            <ul class="list-inline social-buttons">
                                <li><a href="https://twitter.com/TaxinMiasin" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/pages/Taxin-Miasin/353391071506960" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="http://www.pinterest.com/taxinmiasin/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        
                            <span class="copyright">&copy; Տաքսին Միասին 2014</span>
                    </div>
                    <div class="col-xs-4">
                        <img src="{% static 'img/logos/PayPal_Logo.jpg' %}" style="max-width:100%; height:auto;" width="125" style="max-width:100%; height:auto;" />
                    </div>
                </div>
                
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    
    <!-- jQuery Version 1.11.0 -->
   
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap.youtubepopup.min.js" %}"></script>
        <script type="text/javascript">
    $(window).load(function(){
        $('a.youtube').YouTubeModal({autoplay:0, width:640, height:480});
    });
    </script>
    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.1.3.min.js" %}"></script>
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js" %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <!-- <script src="{% static "js/contact_me.js" %}"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/agency.js" %}"></script>
    
</body>

</html>
